.toast {
  border-width: 5px;
  border-color: #239802;
  border-radius: 10px;
  padding: 45px;
  background-color: #34e204;
  position: relative;
  display: inline-block;
}

.toast-message1 {
  font-size: 24px;
  font-weight: bold;
  /* margin: ; */
  color:rgb(255, 0, 0);
}

.toast-message2 {
  font-size: 11px;
  margin: 0;
}

.toast-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px; /* Ukuran font untuk ikon silang */
  line-height: 1;
  color: #333; /* Warna ikon silang */
}
